footer {
  margin-top: 50px;
  font-style: italic;
  border-top: 1px dashed;
}
table {
  border-style: solid;
  border-collapse: collapse;
  margin: 0 auto;
}
td, th {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
/*.nomedaclasse*/
.pt {
  background-color: indianred;
  color: white;
}
td.mt {
  background-color: yellow;
}
